<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <h1>POD-iSanté</h1>
        <h4>Modifier votre mot de passe</h4>

        <input #password type="text" nbInput placeholder="Mot de passe" fieldSize="large">
        <input #comfirmpassword type="text" nbInput placeholder="Saisissez de nouveau le mot de passe" fieldSize="large">

        <button nbButton status="primary" (click)="onSubmit()">ENVOYER</button>
        <a routerLink="/login">Connexion</a>


      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
