nb-card-body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

nb-card{
  width: 50em;
  height: 40em;
  box-shadow:
    0px 3.7px 10.8px rgba(0, 0, 0, 0.031),
    0px 12.5px 36.4px rgba(0, 0, 0, 0.044),
    0px 56px 163px rgba(0, 0, 0, 0.07);


}

nb-layout-column{
  display: flex;
  justify-content: center;
  background-color: rgb(237, 242, 247);

}

button{
  width: 10em;
}

nb-form-field input{
  width: 40em;
}
