<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <h1>POD-iSanté</h1>
        <h4>Nouveau mot de passe</h4>
        <nb-form-field>
          <input #emailInput type="text" nbInput placeholder="E-mail" fieldSize="large">
          <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        </nb-form-field>
        <button nbButton status="primary" (click)="onSubmit()">Envoyer</button>
        <a   routerLink="/login">Connexion</a>


      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
