<nb-card status="info" class="root">
  <nb-card-body>
    <h2 id="top">Sélectionner le nombre d’objectifs souhaités</h2>
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <!--obj 1-->
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Nombre de pas quotidien</ng-template>
          <h4>Objectif #1: Nombre de pas quotidien</h4>

            <nb-card-body>
              <div>
                <nb-card-body>
                  <h4>Paramètres de l'objectif</h4>
                  <p class="lorem">A) Augmenter le nombre de pas quotidien de </p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value1Obj1">
                  <p class="lorem">B) Atteindre un total de pas quotidien de </p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value2Obj1">
                </nb-card-body>
              </div>

              <div>
                <nb-card-body>
                  <h4>Barrières pour atteindre l’objectif</h4>
                  <div *ngFor="let option of barObjctif1OptionsCheckbox">
                    <nb-checkbox
                      (checkedChange)="updateCheckedOptionsBarObj1(option, $event)"><p id="align">{{option.name}}</p>
                    </nb-checkbox>
                  </div>

                </nb-card-body>
              </div>

              <div>
                <nb-card-body>
                  <h4>Moyens de l'objectif</h4>
                  <div *ngFor="let option of moyensObjctif1OptionsCheckbox">
                      <nb-checkbox
                                   (checkedChange)="updateCheckedOptionsMoyensObj1(option, $event)"><p id="align">{{option.name}}</p>
                      </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>

              <h4>Recommandations de l'objectif</h4>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Fréquence</h6>
                  <nb-select (selectedChange)="updateCheckedSelectFreqObj1($event)" placeholder="Fréquence">
                    <nb-option *ngFor="let option of freqObjctif1OptionsSelect" value="{{option.name}}">
                      {{option.name}}
                    </nb-option>
                  </nb-select>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Endroits</h6>
                  <div *ngFor="let endroit of groupOptionEndroitsObj1, let i = index" style="margin-bottom: 20px">
                    <nb-checkbox
                      (checkedChange)="endroitCheckboxObjectiv1(endroit.id)"><p id="align">{{endroit.group}}</p>
                    </nb-checkbox>
                    <nb-select multiple placeholder="Choisissez la modalité"
                               *ngIf="endroit.id === 1 || endroit.id === 2 || endroit.id === 3"
                               disabled="{{!endroit.checked}}" id="endroits-select">
                      {{i + 1}}
                      <nb-option *ngFor="let option of endroit.options" value="{{i}}"
                                 (selectionChange)="endroitOptionObjectiv1(endroit.id, option.id)">{{option.group}}</nb-option>
                    </nb-select>
                  </div>
                </nb-card-body>

              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Moments</h6>
                  <div *ngFor="let option of momentsObjctif1OptionsSelect">
                    <nb-checkbox
                      (checkedChange)="updateCheckedOptionsMomentsObj1(option, $event)"><p id="align">{{option.name}}</p>
                    </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Intensité</h6>
                  <div style="height: 400px; display: flex; justify-content: center; align-items: center;">
                    <ngx-slider [(value)]="IntensiteOptionsObjectif1Value"
                                [options]="IntensiteOptionsObjectif1"></ngx-slider>
                  </div>
                </nb-card-body>
              </div>

              <h4>Précautions de l'objectif</h4>
              <div>
                <nb-card-body>
                  <div *ngFor="let option of precautionsObjctif1OptionsSelect">
                    <nb-checkbox
                      (checkedChange)="updateCheckedOptionsPrecautionsObj1(option, $event)"><p id="align">{{option.name}}</p>
                    </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>


              <div>
                <nb-card-body>
                  <h4>Niveau de confiance</h4>
                  <ngx-slider [(value)]="nc1" [options]="options"></ngx-slider>
                </nb-card-body>
              </div>

            </nb-card-body>

          <button nbButton nbStepperNext  (click)="gotop()">suivant</button>

        </nb-step>


        <!--obj 2-->z
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Minutes quotidiennes actives</ng-template>
          <h4>Objectif #2: Minutes quotidiennes actives</h4>

           <nb-card-body>
              <div>
                <nb-card-body>
                  <h4>Paramètres de l'objectif</h4>
                  <p class="lorem">A) Augmenter le nombre de minutes actives quotidiennes de</p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value1Obj2">
                  <p class="lorem">B) Atteindre un nombre de minutes actives quotidiennes totales de</p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value2Obj2">
                </nb-card-body>
              </div>
             <div>
               <nb-card-body>
                 <h4>Barrières pour atteindre l’objectif</h4>
                 <div *ngFor="let option of barObjctif2OptionsCheckbox">
                   <nb-checkbox
                     (checkedChange)="updateCheckedOptionsBarObj2(option, $event)"><p id="align">{{option.name}}</p>
                   </nb-checkbox>
                 </div>

               </nb-card-body>
             </div>

             <div>
                <nb-card-body>
                  <h4>Moyens de l'objectif</h4>
                  <div *ngFor="let option of moyensObjctif2OptionsCheckbox">
                        <nb-checkbox
                          (checkedChange)="updateCheckedOptionsMoyensObj2(option, $event)"><p id="align">{{option.name}}</p>
                        </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>

              <h4>Recommandations de l'objectif</h4>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Fréquence</h6>
                  <nb-select (selectedChange)="updateCheckedSelectFreqObj2($event)" placeholder="Fréquence">
                    <nb-option *ngFor="let option of freqObjctif2OptionsSelect" value="{{option.name}}">
                      {{option.name}}
                    </nb-option>
                  </nb-select>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Endroits</h6>
                  <div *ngFor="let endroit of groupOptionEndroitsObj2, let j=index" style="margin-bottom: 20px">
                        <nb-checkbox
                          (checkedChange)="endroitCheckboxObjectiv2(endroit.id)"><p id="align">{{endroit.group}}</p></nb-checkbox>
                        <nb-select multiple placeholder="Choisissez la modalité"
                                   *ngIf="endroit.id === 1 || endroit.id === 2 || endroit.id === 3"
                                   disabled="{{!endroit.checked}}" id="endroits-select">
                          {{j + 1}}
                          <nb-option *ngFor="let option of endroit.options" value="{{j}}"
                                     (selectionChange)="endroitOptionObjectiv2(endroit.id, option.id)">{{option.group}}</nb-option>
                        </nb-select>
                  </div>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Moments</h6>
                  <div *ngFor="let option of momentsObjctif2OptionsSelect">
                        <nb-checkbox
                          (checkedChange)="updateCheckedOptionsMomentsObj2(option, $event)"><p id="align">{{option.name}}</p>
                        </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h6 class="lorem">Intensité</h6>
                  <div style="height: 400px; display: flex; justify-content: center; align-items: center;">
                    <ngx-slider [(value)]="IntensiteOptionsObjectif2Value"
                                [options]="IntensiteOptionsObjectif2"></ngx-slider>
                  </div>
                </nb-card-body>
              </div>

              <h4>Précautions de l'objectif</h4>
             <div>
                    <nb-card-body>
                      <div *ngFor="let option of precautionsObjctif2OptionsSelect">
                            <nb-checkbox
                              (checkedChange)="updateCheckedOptionsPrecautionsObj2(option, $event)"><p id="align">{{option.name}}</p>
                            </nb-checkbox>
                      </div>
                    </nb-card-body>
              </div>
             <div>
               <nb-card-body>
                 <h4>Niveau de confiance</h4>
                 <ngx-slider [(value)]="nc2" [options]="options"></ngx-slider>
               </nb-card-body>
             </div>

            </nb-card-body>

          <button nbButton nbStepperPrevious  (click)="gotop()">précédent</button>
          <button nbButton nbStepperNext  (click)="gotop()">suivant</button>
        </nb-step>

        <!--obj 3-->
        <nb-step [label]="labelThree">
          <ng-template #labelThree>Temps sédentaire</ng-template>
          <h4>Objectif #3: Temps sédentaire</h4>


            <nb-card-body>
              <div>
                <nb-card-body>
                  <h4>Paramètres de l'objectif</h4>
                  <p class="lorem">A) Diminuer le nombre de minutes sédentaires de </p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value1Obj3">
                  <p class="lorem">B) Viser un maximum de minutes consécutives sédentaires de</p>
                  <input type="number" nbInput placeholder="" [(ngModel)]="value2Obj3">
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h4>Barrières pour atteindre l’objectif</h4>
                  <div *ngFor="let option of barObjctif3OptionsCheckbox">
                    <nb-checkbox
                      (checkedChange)="updateCheckedOptionsBarObj3(option, $event)"><p id="align">{{option.name}}</p>
                    </nb-checkbox>
                  </div>

                </nb-card-body>
              </div>

              <div>
                <nb-card-body>
                  <h4>Moyens de l'objectif</h4>
                  <div *ngFor="let option of moyensObjctif3OptionsCheckbox">
                        <nb-checkbox
                          (checkedChange)="updateCheckedOptionsMoyensObj3(option, $event)"><p id="align">{{option.name}}</p>
                        </nb-checkbox>
                  </div>
                </nb-card-body>
              </div>
              <div>
                <nb-card-body>
                  <h4>Niveau de confiance</h4>
                  <ngx-slider [(value)]="nc3" [options]="options"></ngx-slider>
                </nb-card-body>
              </div>

            </nb-card-body>


          <nb-card-body id="saveButton">

            <button nbButton nbStepperPrevious  (click)="gotop()">précédent</button>
            <button nbButton status="success"  (click)="SaveObjectifs()">
              Ajouter
              <nb-icon icon="save-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            </button>
          </nb-card-body>
        </nb-step>


      </nb-stepper>
    </nb-card-body>


  </nb-card-body>
</nb-card>

