<nb-card-body *ngIf="!recommandation">Pas de recommendation</nb-card-body>

<nb-card-body *ngIf="recommandation">
  <p><b>Objectif date:</b> {{recommandation.dateRecommendation}}</p>


  <h3>Objectifs:</h3>
  <div *ngFor="let obj of objectif; index as i;">
    <h4>{{i + 1}}- {{obj.objectif.objectif}}</h4>
    <div *ngFor="let param of obj.objectif.parametre">
      <p>{{param.param}}: {{param.value}}</p>
    </div>
    <h4>Moyens</h4>
    <div *ngIf="i === 0">
      <p *ngIf="obj1Moyen.length === 0">Pas de moyen</p>
      <div *ngIf="obj1Moyen.length > 0">
        <div *ngFor="let moyen of obj1Moyen">
          <p>{{moyen}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="i === 1">
      <p *ngIf="obj2Moyen.length === 0">Pas de moyen</p>
      <div *ngIf="obj2Moyen.length > 0">
        <div *ngFor="let moyen of obj2Moyen">
          <p>{{moyen}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="i === 2">
      <p *ngIf="obj3Moyen.length === 0">Pas de moyen</p>
      <div *ngIf="obj3Moyen.length > 0">
        <div *ngFor="let moyen of obj3Moyen">
          <p>{{moyen}}</p>
        </div>
      </div>
    </div>


    <h4>Précautions</h4>
    <div *ngIf="i === 0">
      <p *ngIf="obj1Precaution.length === 0">Pas de précaution</p>
      <div *ngIf="obj1Precaution.length > 0">
        <div *ngFor="let precaution of obj1Precaution">
          <p>{{precaution}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="i === 1">
      <p *ngIf="obj2Precaution.length === 0">Pas de précaution</p>
      <div *ngIf="obj2Precaution.length > 0">
        <div *ngFor="let precaution of obj2Precaution">
          <p>{{precaution}}</p>
        </div>
      </div>
    </div>

    <h4 *ngIf="i === 0 || i === 1">Recommandations</h4>
    <div *ngIf="i === 0">
      <h5>Fréquence</h5>
      <p *ngIf="!obj.recommandation.frequence">Pas de fréquence</p>
      <p *ngIf="obj.recommandation.frequence">{{obj.recommandation.frequence}}</p>

      <h5>Moments</h5>
      <p *ngIf="obj1Moment.length === 0">Pas de moments</p>
      <div *ngIf="obj1Moment.length > 0">
        <div *ngFor="let moment of obj1Moment">
          <p>{{moment}}</p>
        </div>
      </div>

      <h5>Intensité</h5>
      <p>{{obj.recommandation.intensite.echelleString}} | {{obj.recommandation.intensite.echelleNumber}}</p>
    </div>

    <div *ngIf="i === 1">

      <h5>Frequence</h5>
      <p *ngIf="!obj.recommandation.frequence">Pas de fréquence</p>
      <p *ngIf="obj.recommandation.frequence">{{obj.recommandation.frequence}}</p>

      <h5>Moment</h5>
      <p *ngIf="obj2Moment.length === 0">Pas de moments</p>
      <div *ngIf="obj2Moment.length > 0">
        <div *ngFor="let moment of obj2Moment">
          <p>{{moment}}</p>
        </div>
      </div>

      <h5>Intensité</h5>
      <p>{{obj.recommandation.intensite.echelleString}} | {{obj.recommandation.intensite.echelleNumber}}</p>
    </div>


  </div>


  <h3>Barrières:</h3>
  <div *ngFor="let br of barriersRecommendation; index as i;">
    <p>{{i + 1}}- {{br}}</p>
  </div>
  <h3>Niveau de confiance:</h3>
  <nb-card-body>{{recommandation.confiance}}</nb-card-body>

</nb-card-body>
