<nb-card>

  <nb-card class="stats">

    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="Podomètre">
        <nb-card-body>

          <nb-card-body *ngIf="pd !== null || pd.length !== 0">
            <p style="font-size: x-large;">Sélectionnez une période:</p>
            <nb-form-field>
              <nb-icon nbPrefix icon="clock-outline"></nb-icon>
              <nb-select placeholder="Sélectionnez une période" [(selected)]="selectedItemPD" (selectedChange)="onChangePD()" size="giant">
                <nb-option *ngFor="let pdItem of pd; let i = index;" [value]="i">
                    Date d'affectation : {{pdItem.initDateString}}
                    <br>
                    Date de récupération : {{pdItem.returnedAtString}}
                </nb-option>
              </nb-select>
            </nb-form-field>
          </nb-card-body>

          <div *ngIf="this.steps?.length > 0">
            <p style="font-size: x-large;">Ou choisir deux dates:</p>
            <div class="calendar">
              <nb-calendar-range [range]="range" size="large" [min]="min"
                                 (rangeChange)="handleRangeChange($event)"></nb-calendar-range>
            </div>
          </div>
          <nb-card-body><h4>Moyenne quotidienne</h4></nb-card-body>
          <nb-card-body *ngIf="this.steps?.length === 0 || this.minutesDto === null">Pas de données.</nb-card-body>
          <nb-card-body *ngIf="this.minutesDto === null">Pas de statistiques descriptives.</nb-card-body>
          <nb-card *ngIf="this.stats.length === 0 && this.minutesDto !== null" [nbSpinner]="loading"
                   nbSpinnerStatus="info"
                   nbSpinnerSize="giant" nbSpinnerMessage="Pas de données, veuillez choisir deux dates.">
            <nb-card-body class="load">
            </nb-card-body>
          </nb-card>
          <table *ngIf="stats.length > 0" width="100%"
                 mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="Minutes">
              <th mat-header-cell *matHeaderCellDef> Minutes</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Max Column -->
            <ng-container matColumnDef="Maximum">
              <th mat-header-cell *matHeaderCellDef> Maximum</th>
              <td mat-cell *matCellDef="let element"> {{element.max}} </td>
            </ng-container>

            <!-- Min Column -->
            <ng-container matColumnDef="Minimum">
              <th mat-header-cell *matHeaderCellDef> Minimum</th>
              <td mat-cell *matCellDef="let element"> {{element.min}} </td>
            </ng-container>

            &lt;!&ndash; Average Column &ndash;&gt;
            <ng-container matColumnDef="Moyenne">
              <th mat-header-cell *matHeaderCellDef> Moyenne</th>
              <td mat-cell *matCellDef="let element"> {{element.average}} </td>
            </ng-container>
<!--
            &lt;!&ndash; Median Column &ndash;&gt;
            <ng-container matColumnDef="Mediane">
              <th mat-header-cell *matHeaderCellDef> Mediane</th>
              <td mat-cell *matCellDef="let element"> {{element.median}} </td>
            </ng-container>

            &lt;!&ndash; Variance Column &ndash;&gt;
            <ng-container matColumnDef="Variance">
              <th mat-header-cell *matHeaderCellDef> Variance</th>
              <td mat-cell *matCellDef="let element"> {{element.variance}} </td>
            </ng-container>

            &lt;!&ndash; SD Column &ndash;&gt;
            <ng-container matColumnDef="sd">
              <th mat-header-cell *matHeaderCellDef> SD</th>
              <td mat-cell *matCellDef="let element"> {{element.sd}} </td>
            </ng-container>
-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="active" mat-row *matRowDef="let row; columns: displayedColumns;"
                class="example-element-row"></tr>
          </table>

          <h4 style="margin-top: 2em">Total hebdomadaire</h4>
          <nb-card-body *ngIf="this.steps?.length === 0">Pas de données.</nb-card-body>
          <nb-card *ngIf="this.stats.length === 0 && this.minutesDto !== null" [nbSpinner]="loading"
                   nbSpinnerStatus="info"
                   nbSpinnerSize="giant" nbSpinnerMessage="Pas de données, veuillez choisir deux dates.">
            <nb-card-body class="load">
            </nb-card-body>
          </nb-card>
          <nb-card-body *ngIf="this.stats.length > 0">
            <div>
              <canvas baseChart height="120vh"
                      [data]="minutesPieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions">
              </canvas>
            </div>
          </nb-card-body>

          <h4 style="margin-top: 2em">Nombre de pas</h4>
          <nb-card *ngIf="this.steps.length > 0 && this.u?.length === 0" [nbSpinner]="loading" nbSpinnerStatus="info"
                   nbSpinnerSize="giant" nbSpinnerMessage="Pas de données, veuillez choisir deux dates.">
            <nb-card-body class="load">
            </nb-card-body>
          </nb-card>
          <nb-card-body *ngIf="this.steps.length === 0">Pas de données.</nb-card-body>
          <nb-card-body *ngIf="this.u?.length > 0">
            <div>
              <canvas baseChart height="80vh"
                      [datasets]="stepsBar"
                      [labels]="stepsChartLabels"
                      [options]="gpaqBarChartOptions"
                      [chartType]="barChartType">
              </canvas>
            </div>

          </nb-card-body>
        </nb-card-body>
      </mat-tab>

      <mat-tab label="Questionnaires">

        <nb-card-body>
          <h4>GPAQ</h4>
          <nb-card-body *ngIf="this.gpaq.length === 0">Pas de GPAQ.</nb-card-body>
          <nb-card-body *ngIf="this.gpaq.length > 0">
            <p>Selectionner une date</p>
            <nb-select placeholder="Selectionner une date" [(selected)]="selectedItemGpaq">
              <nb-option *ngFor="let g of gpaq; let i = index;" [value]="i"
                         (selectionChange)="gpaqOnChange(i)">{{g.date}}</nb-option>
            </nb-select>
            <div>
              <h5>Travail</h5>
              Modéré-vigoureux
              :   {{travailModereVigoureuxUI}}
              minutes
              <h5>Transport (déplacement) : </h5>
              A pied
              : {{transportPiedUI}}
              minutes<br>
              A vélo
              : {{transportVeloUI}}
              minutes
              <h5>Loisirs : </h5>
              Modéré-vigoureux
              : {{loisirsModereVigoureuxUI}}
              minutes<br>
              Marche
              : {{loisirsMarcheUI}}
              minutes<br>
              Nombre de jours où vous avez pratiqué de l’activité physique
              : {{jrsAcPhyUI}}
              jours<br>
            </div>

            <div>
              <canvas baseChart height="80vh"
                      [datasets]="barChar"
                      [options]="gpaqBarChartOptions"
                      [chartType]="barChartType">
              </canvas>
            </div>
            <div>
              <h5>Total: {{totalUI}} minutes</h5>
            </div>
          </nb-card-body>

          <h4>BREQ</h4>
          <nb-card-body *ngIf="this.breq.length === 0">Pas de BREQ.</nb-card-body>
          <nb-card-body *ngIf="this.breq.length > 0">
            <p>Selectionner une date</p>
            <nb-select placeholder="Selectionner une date" [(selected)]="selectedItemBreq">
              <nb-option *ngFor="let b of breq; let i = index;" [value]="i"
                         (selectionChange)="breqOnChange(i)">{{b.date}}</nb-option>
            </nb-select>
            <div>
              <canvas baseChart height="30vh" width="80vw"
                      [data]="pieChart"
                      [labels]="pieChartLabelsBreq"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions">
              </canvas>
            </div>

            <div>
              <b>Extrinsèque :</b> Recherche de récompenses et évitement de punitions externes. <br>
              <b>Introjectée :</b> Recherche de récompenses et évitement de punitions internes. (protection et
              valorisation de l’estime de soi, maintien de la réputation, évitement de culpabilité et de honte). <br>
              <b>Identifiée :</b> En lien avec les valeurs personnelles, importance et utilité sociale de la tâche,
              sens. Faire des tâches importantes (agréable ou non) qui sont en lien avec les valeurs de l’individu..
              <br>
              <b>Intrinsèque :</b> Faire des tâches par plaisir, satisfaction inhérente. Plaisir, concentration intense,
              émotions positives reliées à la tâche.. <br>
              <b>Démotivation :</b> Absence d’autorégulation et d’énergie volontaire. Désengagement, manque de sens,
              résignation.. <br>
            </div>


          </nb-card-body>
        </nb-card-body>
      </mat-tab>

      <!-- <mat-tab label="Mesures cliniques">

       </mat-tab>-->

    </mat-tab-group>


  </nb-card>
</nb-card>
