<nb-card class="parent" status="info" >
  <nb-card-header>Informations personnels (obligatoires)</nb-card-header>
  <nb-card-body class="child" >
    <!--<mat-tab-group style="margin-top: 2em; margin-bottom: 2em;">-->

    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input #firstname matInput placeholder="Nom*" color="primary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input #lastname matInput placeholder="Prenom*" color="primary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nom de la mère</mat-label>
      <input #mothername matInput placeholder="Nom de la mere* " color="primary">
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 30%;">
      <mat-label>Genre</mat-label>
      <select #gender matNativeControl matInput placeholder="Genre">
        <option></option>
        <option>Homme</option>
        <option>Femme</option>
        <option>Autre</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numéro de téléphone</mat-label>
      <input #phone [(ngModel)]="phonee" (input)="changePhone(phone.value)" type="text" matInput
             placeholder="Numero de telephone*" color="primary">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <input #email matInput placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date de naissance</mat-label>
      <input #birthday matInput [matDatepicker]="picker" placeholder="Date de naissance*" color="primary"
             (dateChange)="getBirthday($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <p *ngIf="error!=null" class="error">
      {{ error }}
    </p>
    <!-- <mat-tab label="Informations socio-demographiques " [disabled]='!patient_added'>
       <app-sociodemo></app-sociodemo>

     </mat-tab>
     <mat-tab label="EXAMEN CLINIQUE" [disabled]='!patient_added'>
       <app-examen-clinique></app-examen-clinique>

     </mat-tab>
     <mat-tab label=" Antécédents " [disabled]='!patient_added'>
      <app-antecedants></app-antecedants>
     </mat-tab>-->

    <!--</mat-tab-group>-->

  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" style="margin-bottom: 1em" fullWidth (click)="ajouter(firstname.value,lastname.value
                                                                             ,mothername.value,phone.value,email.value,gender.value)">
      Ajouter<nb-icon icon="save-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
    </button>

  </nb-card-footer>

</nb-card>
