<div id="quiz"><!-- Partie affichage du questionnaire -->
  <h3 class="text-center font-weight-bold">{{quiz.name}}</h3>
  <h5 class="text-center font-weight-inherit" style="font-weight: inherit">{{quiz.description}}</h5>
  <hr/>

  <div *ngIf="mode=='quiz' && quiz"> <!-- Partie affichage des questions un par un  -->
    <div *ngFor="let question of filteredQuestions;">
      <!--
            <div class="badge badge-info">Question {{pager.index + 1}} de {{pager.count}}.</div>
      -->
      <!--<div *ngIf="config.duration" class="badge badge-info float-right">Temps ecoule : {{ellapsedTime}}
        / {{duration}}</div>-->
      <h3 class="font-weight-normal"> {{question.id - 1009}} .
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options">

        <div *ngFor="let option of question.options" style="width: 100%; ">
          <div *ngIf="question.questionPere==0" [attr.for]="option.id" class="option">

            <label *ngIf="question.id!==1031 && question.id!==1032 " class="font-weight-normal">
              <nb-checkbox [(ngModel)]="option.selected" (checkedChange)="onSelect(question, option)"><b
                style="font-size: large; ">{{option.name}}</b></nb-checkbox>
            </label>
          </div>

          <div *ngFor="let option of question.options" style="width: 100%; ">
            <label *ngIf="question.questionTypeId==4" for=""> Heures : </label>
            <input (change)="onSelect(question, option);" *ngIf="question.questionTypeId==4" [(ngModel)]="question.hr"  value="0"
                   class="form-control" id="hr" max="24" min="0" name="" style="width: 30%" type="number">
            <label *ngIf="question.questionTypeId==4" for=""> Minutes : </label>
            <input (change)="onSelect(question, option);" *ngIf="question.questionTypeId==4" [(ngModel)]="question.min"  value="0"
                   class="form-control" id="mn" max="59" min="1" name="" style="width: 30%" type="number">

            <label *ngIf="question.questionTypeId==3" for=""> Jours : </label>
            <input (change)="onSelect(question, option);" *ngIf="question.questionTypeId==3" value="0"
                   [(ngModel)]="question.nbJour" class="form-control" id="" max="7" min="1" name="" style="width: 30%"
                   type="number">
          </div>
        </div>
      </div>
    <hr/>
    <div class="text-center">
      <button (click)="goPrec(pager.index, question);" *ngIf="config.allowBack" nbButton status="primary"
              style="margin-right: 1em;" [disabled]="btnPrecDisabled">
        Precedent
      </button>
      <button (click)="goSuiv(pager.index + 1);" nbButton status="primary" [disabled]="btnSuivDisabled">Suivant</button>
      <!--      <button class="btn btn-info" *ngIf="pager.index +1  == pager.count  && comfirmer == true " style="margin-left: 1em;"
                    (click)="mode='result'"> Confirmer
            </button>-->
      <button (click)="onSubmit()" [disabled]="!comfirmer" nbButton status="success"
              style="margin-right: 5%; margin-left: 20%">Envoyer
      </button>

    </div>
    </div>
  </div>

  <div *ngIf="mode=='result'">
    <h3 class="alert-success"> Merci, cliquez sur le button envoyer si vous avez fini sinon retour au
      questionnaire </h3>
    <button (click)="onSubmit()" nbButton status="success" style="margin-right: 5%; margin-left: 20%">Envoyer</button>
    <button (click)="goBack(pager.count)" nbButton status="primary" style="margin-left: 5%; margin-right: 5%">Retour au
      questionnaire
    </button>
  </div>
</div>
<hr/>


