@media print {
  #dontprint {
    display: none;
  }
  ::ng-deep nb-sidebar{
    display: none !important;
  }
  ::ng-deep nb-layout .layout {
    background-color: white !important;
  }
}

::ng-deep nb-card{
  border: 0px !important;
}

@media print {
  @page {
    margin: 0 0 0 0;
  }
}
::ng-deep .nb-theme-default nb-spinner.status-info {
  background-color: white !important;
}
@media print {
  .report{
    display: inline-block;
    height: 100vh;
  }
}
/*
div { border: 1px solid black;}
*/
.cnvs {
  width: 1000px;
  height:600px
}
